@import "variables";

@import "@@/scrollbar.scss";
@import "@@/devider.sass";

.is-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.is-fullheight {
    min-height: 100vh
}

.border-0 {
    border-radius: 0;
}

.border-100 {
    border-radius: 100%;
}

.is-under-header {
    padding-top: $navbar-height+1;
}

.is-spoiler {
    color: $black-ter;
    background: $black-ter;
    user-select: none;

    &:focus, &:active {
        user-select: auto;
        color: $black;
        background: none;
    }
}

div.file-image {
    width: 200px;
    height: 82px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.is-hovered:hover {
    cursor: pointer;
    background-color: lighten($background, 1%) !important;
}
