$divider-background-color: $border-dark;

.divider {
    &::after,
    &::before {
        background-color: $divider-background-color !important;
    }
}

.is-spoiler {
    &:focus, &:active {
        color: $white;
    }
}

.is-hovered:hover {
    background-color: lighten($background-dark, 5%) !important;
}
