// Scroll
$scrollColor: darken($box-background-color, 10%);
$scrollBackgroundColor: none;
$scrollHoverColor: darken($box-background-color, 20%);
$scrollBorderColor: darken($box-background-color, 50%);
